<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <% Object.keys(htmlWebpackPlugin.files.css).sort().forEach(function(chunkId) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[chunkId] %>" />
    <% }); %>

    <title>FlyOver</title>
</head>
<body>
<div id="root"></div>

<% Object.keys(htmlWebpackPlugin.files.chunks).sort().forEach(function(chunkId) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunkId].entry %>"></script>
<% }); %>

</body>
</html>
